In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [4]:
original_path = glob.glob('./data/validation/labeling/*/*/*.csv')
original_path[0]

'./data/validation/labeling/japan/general/JP16RC144_JP0103_20210803.csv'

In [6]:
df_list = [pd.read_csv(file, encoding='cp949') for file in original_path]
merged_df = pd.concat(df_list, ignore_index=True)
merged_df.head()

,fileName,speakerID,sentenceID,recordUnit,recordQuality,recordDate,recordTime,Reading,ReadingLabelText,Question,...,eduBackground,country,residencePeriod,residenceCity,languageClass,motherTongue,selfAssessment,topikGrade,LearningPeriod,learningSource
0,JP16RC144_JP0103_20210803.wav,JP0103,JP16RC144,ios,16bit 16kHz MONO,2021-08-03 11:11:46,11.916,"기차를 탈 때, 기차표를 누구한테 보여 줘야 해요? 아니면 타기 전에, 무인 기계에...",기차를 탈 때 기차표를 누구한테 보여 줘야 해요 아니면 타기 전에 무인 기계에 찍고...,NaN,...,대졸,JP,5년 이상,KR-26,일본어,일본어,중,해당 없음,39,기타
1,JP16RC144_JP0071_20210801.wav,JP0071,JP16RC144,android,16bit 16kHz MONO,2021-08-01 20:08:03,9.485,"기차를 탈 때, 기차표를 누구한테 보여 줘야 해요? 아니면 타기 전에, 무인 기계에...",기차를 탈 때 기차표를 누구한테 보여 줘야 해요 아니면 타기 전에 무인 기계에 찍고...,NaN,...,대졸,JP,5년 이상,KR-11,일본어,일본어,상,6,180,인터넷 강의
2,JP17RC156_JP0008_20210802.wav,JP0008,JP17RC156,ios,16bit 16kHz MONO,2021-08-02 17:21:30,12.300,저는 봄을 가장 좋아해요. 길거리에 예쁜 꽃도 많이 피잖아요. 따뜻하고 포근한 봄 ...,저는 봄을 가장 좋아해요 길거리에 예쁜 꽃도 많이 피잖아요 따뜻하고 포근한 봄 날씨...,NaN,...,고졸,JP,1년 이상 3년 미만,KR-11,일본어,일본어,중,5,84,영화/음악
3,JP14RC080_JP0021_20210730.wav,JP0021,JP14RC080,ios,16bit 16kHz MONO,2021-07-30 14:42:55,12.096,"한 벌에 이십오만 원(250,000원)인데, 디자인이 너무 마음에 들어서, 빨간색이...",한 벌에 이십오만 원인데 디자인이 너무 마음에 들어서 빨간색이랑 주황색 분홍색까지 ...,NaN,...,대졸,JP,1년 이상 3년 미만,KR-11,일본어,일본어,중,5,18,학교 수업 (대학 포함)
4,JP13RC073_JP0176_20210803.wav,JP0176,JP13RC073,android,16bit 16kHz MONO,2021-08-03 01:34:55,12.142,"한국말 실력이 부족하지만, 제가 한국 생활에 적응하는 데에 많은 도움을 준 친구를 ...",한국말 실력이 부족하지만 제가 한국 생활에 적응하는 데에 많은 도움을 준 친구를 위...,NaN,...,고졸,JP,5년 이상,KR-11,일본어,일본어,중,5,16,학원

In [7]:
merged_df.to_pickle('./data/train/labeling/marged_eval_test.pikl')

In [8]:
merged_df = pd.read_pickle('./data/train/labeling/marged_eval_test.pikl')

In [9]:
merged_df.describe()

         recordTime     birthYear  LearningPeriod
count  73405.000000  73405.000000    73405.000000
mean      13.270484   1989.823186       49.382917
std        4.647997      9.577481       43.637499
min        1.380000   1955.000000        1.000000
25%       10.680000   1985.000000       24.000000
50%       12.345000   1993.000000       36.000000
75%       14.648000   1997.000000       60.000000
max      194.280000   2005.000000      360.000000

In [10]:
min_sec = 8
max_sec = 14
filtered_data = merged_df[(merged_df['recordTime'] >= min_sec) & (merged_df['recordTime'] <= max_sec)]
filtered_data = filtered_data.reset_index(drop=True)

In [11]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49349 entries, 0 to 49348
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fileName          49349 non-null  object
 1   speakerID         49349 non-null  object
 2   sentenceID        49349 non-null  object
 3   recordUnit        49349 non-null  object
 4   recordQuality     49349 non-null  object
 5   recordDate        49349 non-null  object
 6   recordTime        49349 non-null  float64
 7   Reading           43205 non-null  object
 8   ReadingLabelText  43205 non-null  object
 9   Question          6144 non-null   object
 10  AnswerLabelText   6144 non-null   object
 11  SentenceSpeechLV  49349 non-null  object
 12  SpeakerID         49349 non-null  object
 13  gender            49349 non-null  object
 14  birthYear         49349 non-null  int64
 15  eduBackground     49349 non-null  object
 16  country           49349 non-null  object
 17  residencePeriod   49349 non-null  object
 18  residenceCity     49349 non-null  object
 19  languageClass     49349 non-null  object
 20  motherTongue      49349 non-null  object
 21  selfAssessment    49349 non-null  object
 22  topikGrade        49349 non-null  object
 23  LearningPeriod    49349 non-null  int64
 24  learningSource    49349 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 9.4+ MB

In [12]:
filtered_data.columns

Index(['fileName', 'speakerID', 'sentenceID', 'recordUnit', 'recordQuality',
       'recordDate', 'recordTime', 'Reading', 'ReadingLabelText', 'Question',
       'AnswerLabelText', 'SentenceSpeechLV', 'SpeakerID', 'gender',
       'birthYear', 'eduBackground', 'country', 'residencePeriod',
       'residenceCity', 'languageClass', 'motherTongue', 'selfAssessment',
       'topikGrade', 'LearningPeriod', 'learningSource'],
      dtype='object')

In [13]:
import glob
import soundfile as sf
from tqdm import tqdm
import re

In [17]:
def process_row(row):
    file_name = row['fileName']
    reading = row['ReadingLabelText']
    answer = row['AnswerLabelText']
    
    # 오디오 파일 찾기
    audio_files = glob.glob(f'./data/validation/source/*/*/{file_name}')
    if not audio_files:
        return None  # 파일 없음

    audio_path = audio_files[0]
    
    # 오디오 파일이 정상인지 확인
    try:
        with sf.SoundFile(audio_path) as f:
            _ = f.frames
    except RuntimeError:
        return None  # 손상된 오디오

    # 텍스트 결정
    transcript = answer if pd.isna(reading) else reading
    
    pattern = r"[^가-힣a-zA-Z0-9\s?!\.]"
    cleaned_transcript = re.sub(pattern, "", transcript)
    
    return (audio_path, cleaned_transcript)

In [18]:
result = []
for i in tqdm(range(len(filtered_data))):
    r = process_row(filtered_data.iloc[i,:])
    if r is None: continue
    result.append((i, r[0], r[1]))

100%|██████████| 49349/49349 [00:25<00:00, 1967.12it/s]

In [19]:
result[0]

(0,
 './data/validation/source/japan/general/JP16RC144_JP0103_20210803.wav',
 '기차를 탈 때 기차표를 누구한테 보여 줘야 해요 아니면 타기 전에 무인 기계에 찍고 타나요')

In [20]:
filtered_data = filtered_data.iloc[[i[0] for i in result], :]

In [21]:
filtered_data = filtered_data.reset_index(drop=True)
filtered_data.shape

(49349, 25)

In [22]:
filtered_data['fileName'] = [i[1] for i in result]
filtered_data['type'] = [i[1].split('/')[5] for i in result]
filtered_data['text'] = [i[2] for i in result]
filtered_data.shape

(49349, 27)

In [23]:
filtered_data.to_pickle('./data/train/labeling/filtered_val_test.pikl')

In [24]:
pd.crosstab(filtered_data['languageClass'], filtered_data['type'])

type           culture1  culture2  general  life1  life2
languageClass
베트남어               2398      1776     2658   2371   2141
영어                  198       118     1062    224    262
일본어                3476      3173     3241   3087   3004
중국어                4294      3302     4824   4154   3586

In [27]:
filtered_data['languageClass'].value_counts()

languageClass
중국어     20160
일본어     15981
베트남어    11344
영어       1864
Name: count, dtype: int64

In [40]:
balanced_df = []
balanced_df.append(filtered_data[(filtered_data['type'] != 'culture2') & (filtered_data['languageClass'] == '베트남어')].sample(5000, random_state=42))
balanced_df.append(filtered_data[(filtered_data['type'] != 'culture2') & (filtered_data['languageClass'] == '영어')].sample(1746, random_state=42))
balanced_df.append(filtered_data[(filtered_data['type'] != 'culture2') & (filtered_data['languageClass'] == '일본어')].sample(5000, random_state=42))
balanced_df.append(filtered_data[(filtered_data['type'] != 'culture2') & (filtered_data['languageClass'] == '중국어')].sample(5000, random_state=42))

balanced_df = pd.concat(balanced_df, ignore_index=True)
balanced_df.shape

(16746, 27)

In [41]:
pd.crosstab(balanced_df['languageClass'], balanced_df['type'])

type           culture1  general  life1  life2
languageClass
베트남어               1270     1411   1234   1085
영어                  198     1062    224    262
일본어                1355     1279   1192   1174
중국어                1298     1434   1238   1030

In [42]:
balanced_df.to_pickle('./data/train/labeling/filtered_balanced_val_test.pikl')